# systemd service for managing all 389ds postconfiguration.
  
[Unit]
Description=389 Directory Server Postdiscovery %i.
After=dirsrv@%i.service
After=dirsrv-postdiscovery.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-postdiscovery/389ds start %i
ExecReload=/bin/bash /usr/libexec/device-postdiscovery/389ds reload %i
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

