# systemd service for managing all 389ds postconfiguration.
  
[Unit]
Description=389 Directory Server Postdiscovery.
After=dirsrv-autodiscovery.service

[Service]
Type=oneshot
ExecStart=/usr/bin/flock -s /etc/device/services/ldap/ /usr/libexec/device-postdiscovery/389ds start
ExecReload=/usr/bin/flock -s /etc/device/services/ldap/ /usr/libexec/device-postdiscovery/389ds reload
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

