# systemd service for managing all 389ds autoconfiguration.

[Unit]
Description=389 Directory Server Autodiscovery %i.
# We cannot use Before until https://github.com/389ds/389-ds-base/issues/6099 is fixed
#Before=dirsrv@%i.service
After=dirsrv-autodiscovery.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sequence -l /etc/device/services/ldap/ -s daemon.info -b "/usr/libexec" "device/autodiscovery/389ds.d" start %i
ExecReload=/usr/bin/sequence -l /etc/device/services/ldap/ -s daemon.info -b "/usr/libexec" "device/autodiscovery/389ds.d" reload %i
RemainAfterExit=on
PrivateTmp=true

[Install]
WantedBy=multi-user.target

