# systemd service for managing all 389ds postconfiguration.
  
[Unit]
Description=389 Directory Server Configuration Postdiscovery
#Requires=dirsrv.target
PartOf=dirsrv.target
ReloadPropagatedFrom=dirsrv.target
After=dirsrv@.service
After=firewalld.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-389ds-postdiscovery
ExecReload=/bin/bash /usr/libexec/device-389ds-postdiscovery
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

