# systemd service for managing all 389ds autoconfiguration.

[Unit]
Description=389 Directory Server Configuration Autodiscovery
After=firewalld.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-autodiscovery/389ds start
ExecReload=/bin/bash /usr/libexec/device-autodiscovery/389ds reload
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

